asyncssh
brython
dnspython
httpserver
libratom
paramiko
psutil
pycryptodomex
pyinstaller
requests
scapy
wmi
cryptography>=46.0.5 # not directly required, pinned by Snyk to avoid a vulnerability
