asyncssh
brython
dnspython
httpserver
libratom
paramiko
psutil
pycryptodomex
pyinstaller
requests
scapy
wmi
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
