asyncssh
brython
dnspython
httpserver
libratom
paramiko
psutil
pycryptodomex
pyinstaller
requests
scapy
wmi
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
